<header class="">
  <nav class="navbar navbar-light justify-content-between">
    <a class="navbar-brand title">Nova Admissão Cooperado</a>
    <div class="d-inline-flex">
      <div class="notification position-relative">
        <a href="">
          <i class="bi bi-bell notification-icon"></i>
          <span
            class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger"
          >
            7
          </span>
        </a>
      </div>
      <button type="button" class="btn-cred">VIACRED</button>

      <div class="profile-img position-relative">
        <a href="">
          <img
            src="assets/imgs/profile-pic.png"
            class="img-fluid img-thumbnail"
            alt="..."
          />
          <span
            class="position-absolute top-100 start-50 translate-middle badge rounded-pill"
          >
            <i class="bi bi-gear-fill"></i>
          </span>
        </a>
      </div>
    </div>
  </nav>
  <div class="d-inline-flex" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Cadastro</li>
      <li class="breadcrumb-item active" aria-current="page">
        Admissão do Cooperado
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Nova admissão do cooperado
      </li>
    </ol>
  </div>
</header>
