<header class="">
  <nav class="navbar navbar-light justify-content-between">
    <a class="navbar-brand title">Nova Admissão Cooperado</a>
    <div class="d-inline-flex">
      <div class="notification position-relative">
        <a href="">
          <i class="bi bi-bell notification-icon"></i>
          <span
            class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger"
          >
            7
          </span>
        </a>
      </div>
      <div class="btn-group" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-cred dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          VIACRED<span class="caret"></span>
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem"><a class="dropdown-item" href="#">CENTRAL</a></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">CREDIFOZ</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">TRANSPOCRED</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">VIACRED</a>
          </li>
        </ul>
      </div>
      <div class="profile-img">
        <img
          src="assets/imgs/profile-pic.png"
          class="img-fluid img-thumbnail"
          alt="Profile picture"
        />
      </div>
    </div>
  </nav>
  <div class="d-inline-flex" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Cadastro</li>
      <li class="breadcrumb-item active" aria-current="page">
        Admissão do Cooperado
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Nova admissão do cooperado
      </li>
    </ol>
  </div>
</header>
