<div class="main-container">
  <div class="container">
    <div class="steps">
      <div class="step-item">
        <button class="step-button text-center" type="button"></button>
        <div class="step-title">Início</div>
      </div>
      <div class="step-item">
        <button
          class="step-button text-center collapsed"
          type="button"
        ></button>
        <div class="step-title">Documentos</div>
      </div>
      <div class="step-item">
        <button
          class="step-button text-center collapsed"
          type="button"
        ></button>
        <div class="step-title">Dados cadastrais</div>
      </div>
      <div class="step-item">
        <button
          class="step-button text-center collapsed"
          type="button"
        ></button>
        <div class="step-title">Admissão</div>
      </div>
    </div>
  </div>
  <h2 class="title">Informe o CPF do futuro cooperado (a)</h2>
  <p class="description">
    se necessário, você poderá duplicar uma conta existente ou pausar e retornar
    este cadastro futuramente.
  </p>
  <p class="description">Digite apenas os números (sem ponto e virgula)</p>
  <div class="search-cpf">
    <label for="basic-url" class="form-label">CPF</label>
    <div class="input-group">
      <input
        type="text"
        class="input-search"
        placeholder="000.000.000-00"
        #cpf
      />

      <button
        type="button"
        class="btn btn-search"
        (click)="isCollapsedCPF = !isCollapsedCPF"
        [attr.aria-expanded]="!isCollapsedCPF"
        aria-controls="collapseBasic"
        (click)="searchCPF(cpf.value)"
      >
        Consultar por CPF
      </button>
    </div>
    <span *ngIf="validCPF === false" class="text-danger"> CPF inválido </span>
  </div>
  <div class="d-inline-flex row" *ngFor="let user of users">
    <div class="col-sm-4 card-group" *ngIf="validCPF == true">
      <div class="card" [collapse]="isCollapsedCPF">
        <div class="card-body">
          <h5 class="card-title">Situação cadastral do CPF</h5>
          <span class="card-subtitle mb-2 text-muted">
            Cosulta na Receita Federal
          </span>
          <div class="card-label">
            <i class="bi bi-person-fill">
              <label for="">Nome</label>
            </i>
            <p class="label-input">{{ user.name }}</p>
          </div>
          <div class="card-label">
            <i class="bi bi-check-circle">
              <label for="">CPF</label>
            </i>
            <p class="label-input">{{ user.status }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 card-group" *ngFor="let accounts of user.accounts">
      <div *ngIf="validCPF == true" class="card" [collapse]="isCollapsedCPF">
        <div class="card-body">
          <h5 class="card-title">{{ accounts.type }}</h5>
          <span class="card-subtitle mb-2 text-muted"
            >Cooperativa Viacredi</span
          >
          <div class="card-label">
            <i class="bi bi-credit-card"></i>
            <label for="">Número da conta</label>
            <p class="label-input">{{ accounts.number }}</p>
          </div>
          <div class="d-flex card-label">
            <a href="" class="card-link">Duplicar conta</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container-fluid d-flex">
    <button class="btn-admissao btn-lg" *ngIf="isCollapsedCPF === false">
      Iniciar nova admissão
    </button>
    <button
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions"
      class="btn btn-tips btn-lg"
    >
      Dicas para abertura de conta
    </button>

    <div
      class="offcanvas offcanvas-end"
      data-bs-scroll="false"
      tabindex="-1"
      id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel"
    >
      <div class="offcanvas-header mt-5">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
          Check-list para abertura da conta
        </h5>
      </div>
      <div class="offcanvas-body">
        <p class="offcanvas-description">
          Confira algumas dicas que irão lhe ajudar neste atendiment para que a
          admissão aconteça da melhor forma possível
        </p>

        <div class="form-check mt-3">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="primaryCheck"
            firstCheckBox
            (click)="isChecked()"
          />
          <label class="form-check-label" id="primaryCheck">
            Conheça seu cooperado
          </label>
          <ul
            class="nav-item justify-content-around"
            *ngIf="firstCheckBox == 'checked'"
          >
            <li class="nav-link">O que traz você até a cooperativa?</li>
            <li class="nav-link">O que é mais importante na sua vida?</li>
            <li class="nav-link">Você tem algum sonho?</li>
          </ul>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="secondaryCheck"
            secondCheckBox
            (click)="isChecked()"
          />
          <label class="form-check-label" id="secondaryCheck">
            Fale sobre a Cooperativa
          </label>

          <ul
            class="nav-item justify-content-around"
            *ngIf="secondCheckBox == 'checked'"
          >
            <li class="nav-link">
              Modelo de Negócio: direito a voto, transpaência na gestão,
              PROGRID, retorno das sobreas, taxas atrativas;
            </li>
            <li class="nav-link">
              Rede de Atendimento: App, Conta Online, SAC, Cixas Eletrônicos
              (compartilhados entre as cooperativas), Postos de atendimento
            </li>
          </ul>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="thirdCheck"
            thirdCheckBox
            (click)="isChecked()"
          />
          <label class="form-check-label" for="thirdCheck">
            Documentos e comprovações necessárias
          </label>

          <ul
            class="nav-item justify-content-around"
            *ngIf="thirdCheckBox == 'checked'"
          >
            <li class="nav-link">CPF regular na Receita Federal;</li>
            <li class="nav-link">
              Documento de Identificação(RG, CNH, Carteira de Trabalho, RNM,
              Carteira Profissional, Passaporte Brasileiro);
            </li>
            <li class="nav-link">Comprovante de endereço;</li>
            <li class="nav-link">Comprovante de renda.</li>
          </ul>
        </div>

        <button
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions"
          class="btn-tips btn-lg"
        >
          Continuar atendimento
        </button>
      </div>
    </div>
  </div>
</footer>
