<header class="position-relative container-fluid">
  <div class="position-fixed d-flex md-5">
    <nav aria-label="breadcrumb">
      <div class="header-container container-fluid d-flex">
        <h1 class="page-title">Nova Admissão cooperado</h1>
      </div>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Cadastro</li>
        <li class="breadcrumb-item active" aria-current="page">
          Admissão do Cooperado
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Nova admissão do cooperado
        </li>
      </ol>
    </nav>
  </div>
</header>
