nav {
  background-color: var(--primary-color);
  width: 85px;
  height: 100vh;
  font-family: 'Open Sans';
}

.brand-icon {
  width: 60px;
  height: 60px;
}

.list-hamburguer{
  cursor: pointer;
  color: var(--tonal-variations5);
}

// Sidebar
.sidebar-ul{
  display: inline-flex;
  width: 85px;
  height: 80vh;
  margin: 0;
  padding: 0;
}

.sidebar-ul :hover{
  color: var(--secondary-color);
  transition: 1s;
}

.sidebar-item{
  text-align: center;
  width: 85px;
  height: 60px;
}

.sidebar-item:hover{
  background-color: var(--tonal-variations2);
}

.sidebar-item, i {
  font-size: 25px;
  margin-top: 30px;
  color: rgb(255, 255, 255);
}

.sidebar-item a :hover{
  color: var(--secondary-color);
  transition: 1s;
}

// dropdown-menu

.brand-logo {
  width: 206px;
  height: 100px;
}

.submit-search{
  // margin-top: 20px;
  // margin-left: 10px;
}

.offcanvas{
  background-color: var(--primary-color);
  width: 300px;
  height: 100vh;
}

.offcanvas-body{
  margin: 0;
  padding: 0 ;
}

.offcanvas-body span{
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16.41px;
  color: #FFFFFF;
  text-align: left;
  padding-right: 10px;
}

.offcanvas-body i{
  width: 24px;
  height: 20.4px;
  color: #FFFFFF;
  text-align: left;
  margin-right: 10px;
}

.offcanvas-item .bi-search{
  padding-bottom: 10px!important;
  width: 25px;
  height: 20.4px;
  margin-left: 16px!important;
  margin-right: 16px!important;
}

.form-control input {
  font-family: 'Open Sans';
  font-style: Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: var(--gray-scale2);
  width: 215px;
  height: 64px;
}
.form-control:active {
  border-color: var(--primary-color);
}

.dropdown-menu {
  width: 100%;
  background-color: var(--tonal-variations2);
  border: transparent;
  border: none;
}

.dropdown-item {
  font-family: 'Open Sans';
  font-style: Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  margin-left: 35px;
  background-color: transparent;
  border: transparent;
  border: none;
  color: #FFFFFF !important;
  text-decoration: none;
}

.offcanvas-item:hover {
  width: 300px;
  background-color: var(--tonal-variations2) !important;
  font-weight: bold;
}

.offcanvas-item{
  margin-right: 15px;
  font-size: 20px;
  color: #FFFFFF;
}
.dropdown-item:hover {
  color: var(--secondary-color) !important;
  font-weight: bold;
}

.list-hamburguer-offcanvas{
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 30px;
  font-size: 25px;
  color: var(--tonal-variations5);
}

.colapse-menu {
  background-color: var(--primary-color);
  width: 300px;
  height: 100vh;
}

